body {
  font-family: "Noto Sans", Arial;
  font-size: 30px;
  background-color: lightgray;
}

.target {
  position: fixed;
  background-color: red;
  padding: 25px;
  border-radius: 50px;
  cursor: pointer;
}

.timer {
  position: fixed;
  bottom: 0;
  left: 50%;
}

.score {
  position: fixed;
  top: 0;
  left: 5px;
}

.results-container {
  display: flex;
  justify-content: center;
}

.results {
  margin-top: 17%;
  position: fixed;
  background-color: rgb(255, 217, 217);
  padding: 30px;
  border-radius: 16px;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.return-button,
.restart-button {
  margin: 0 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid blue;
  cursor: pointer;
  background-color: lightcyan;
  font-weight: 600;
  transition: border-width 0.15s, box-shadow 0.15s;
}

.return-button:hover,
.restart-button:hover {
  border-width: 5px;
  box-shadow: 0px 0px 10px rgb(90, 90, 90);
}